In [24]:
import pandas as pd
df=pd.read_csv('homeprices.csv')
df        #one value of bedroom is missing

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

## Multi-variate linear equation

**price= m1 * area + m2 * bedrooms + m3 * age + c**
  independent variables are known as features

In [25]:
m=df.bedrooms.median()  #calculate the median of values of bedrooms to compensate for the missing one

In [27]:
m

4.0

In [29]:
# pandas we have fillna function 
df.bedrooms=df.bedrooms.fillna(m)   #fillna functions fills all the Not_availabe values
df.bedrooms       #this is known as pre-process or clean your data

0    3.0
1    4.0
2    4.0
3    3.0
4    5.0
5    6.0
Name: bedrooms, dtype: float64

In [20]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [30]:
X=df.drop('price',axis=1)    #axis 1 points to column--> price column is removed
X
X.shape

(6, 3)

In [31]:
y=df.price         #only price column is stored
y
y.shape

(6,)

In [32]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()
model.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [10]:
model.coef_   #values of m1 ,m2 and m3

array([  112.06244194, 23388.88007794, -3231.71790863])

In [11]:
model.intercept_    #value of c

221323.0018654043

In [12]:
model.predict([[3400,3,5]])   #predict the value

array([656343.35515931])

In [13]:
model.score(X,y)    #95% accurate machine

0.9550196399325819

In [17]:
#y=m1x1+m2x2+m3x3+b
model.predict([[4100,6,8]])

array([795258.55102673])